.custom-background-color{
    background-color: #EDE3E9;
}

.custom-primary-text-color{
    color: #000000;
}

.custum-primary-title-color{
    color: #9F84BD;
}

.custum-secondary-title-color{
    color: #C09BD8;
}

.custom-event-color{
    background-color: #EBC3DB;
}

