@font-face{
    font-family: 'fontStyleSite';
    src: url(./font/tt_wellingtons/TT\ Wellingtons\ Trial\ Medium.otf)
}

*{
    margin: 0;
    padding: 0;
    padding: 0;
    margin: 0;
    font-family: fontStyleSite;
}

nav {
	position: relative;
	z-index: 10;
	padding: 0 5%;
	height: 100px;
	background-color: #C09BD8;
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
    transition: 1s;
}

nav .links a:hover {
    color: #000;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		background-color: #C09BD8;
		overflow: hidden;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}

    /* ~ tutti i .links che sono sullo stesso livello*/

	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}

    nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
}
